.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: skyblue;
}

.drum-pads{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.drum-pad{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  forestgreen;
}